{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_main_tabs %}
{% from 'macros/misc.html' import render_tag %}
{% set current_page = 'lan_tournament_admin' %}

{% block before_body %}
  {%- with party = current_page_party %}
  {%- set open_request_count = lan_tournament_pending_request_count(party.id) %}
  {%- if open_request_count %}
    {%- set requests_tab_label = _('Tournament requests') ~ ' ' ~ render_tag(open_request_count, class='color-warning') %}
  {%- else %}
    {%- set requests_tab_label = _('Tournament requests') %}
  {%- endif %}
{{
  render_main_tabs(
    Navigation()
      .add_item(
        url_for('lan_tournament_admin.overview', party_id=party.id),
        _('Overview'),
        id='overview',
        required_permission='lan_tournament.view')
      .add_item(
        url_for('lan_tournament_admin.index', party_id=party.id),
        _('Tournaments'),
        id='tournaments',
        required_permission='lan_tournament.view')
      .add_item(
        url_for('lan_tournament_admin.requests_for_party', party_id=party.id),
        requests_tab_label,
        id='requests',
        required_permission='lan_tournament.request_view')
      .add_item(
        url_for('lan_tournament_admin.maintenance', party_id=party.id),
        _('Maintenance'),
        id='maintenance',
        required_permission='lan_tournament.maintain')
    , current_tab
  )
}}
  {%- endwith %}
{%- endblock %}
