<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content="10">
  <title>{{ _('Pizza Delivery') }}</title>
  <style>
    body {
      color: white;
      background-color: black;
      margin: 0;
      padding: 0;
    }
    div {
      margin: auto;
      width: 100%;
      text-align: center;
    }
    table {
      font-size: 65px;
      margin: auto;
    }
  </style>
</head>
<body>
  <center>
  <div>
    <table>
      <tr>
      {%- for entry in entries %}
        <th>{{ entry.number }}{{ "," if not loop.last }}</th>
      {%- endfor %}
      </tr>
    </table>
  </div>
  </center>
</body>
</html>
