{% extends 'layout/admin/lan_tournament.html' %}
{% from 'macros/admin.html' import render_backlink %}
{% from 'site/lan_tournament/_bracket_macros.html' import render_bracket, render_bracket_responsive_styles, render_simple_bracket_list %}
{% from 'site/lan_tournament/_hover_card.html' import hover_card_styles %}
{% set current_page_party = party %}
{% set current_tab = 'tournaments' %}
{% set page_title = [_('Bracket'), tournament.name, party.title] %}

{% block head %}{{ super() }}{{ hover_card_styles() }}{{ render_bracket_responsive_styles() }}{% endblock %}

{% block before_body %}
{{ render_backlink(url_for('.view', tournament_id=tournament.id),
                   _('Tournament')) }}
{%- endblock %}

{% block body %}

  <h1 class='title'>{{ _('Tournament Bracket') }}</h1>

  <div class='bracket-desktop'>
    {{ render_bracket(match_data, tournament, teams_by_id, participants_by_id, seats_by_user_id=seats_by_user_id, team_members_by_team_id=team_members_by_team_id) }}
  </div>

  <div class='bracket-mobile'>
    {{ render_simple_bracket_list(match_data, teams_by_id, participants_by_id, seats_by_user_id=seats_by_user_id, team_members_by_team_id=team_members_by_team_id) }}
  </div>

  <div style='margin-top: 2rem;'>
    <a href='{{ url_for('.matches_for_tournament',
                        tournament_id=tournament.id) }}'
       class='button'>
      {{ _('View Matches List') }}
    </a>
  </div>

{%- endblock %}
