{% extends 'layout/admin/lan_tournament.html' %}
{% from 'macros/admin.html' import render_backlink %}
{% from 'macros/forms.html' import form_buttons, form_field %}
{% set current_page_party = party %}
{% set current_tab = 'tournaments' %}
{% set page_title = _('Edit tournament') %}

{% block before_body %}
{{ render_backlink(url_for('.view', tournament_id=tournament.id), tournament.name) }}
{%- endblock %}

{% block body %}

  <h1 class="title">{{ page_title }}</h1>

  <form action="{{ url_for('.update', tournament_id=tournament.id) }}" method="post">
    <div class="box">
      {{ form_field(form.name, autofocus='autofocus') }}
      {{ form_field(form.game) }}
      {{ form_field(form.description) }}
      {{ form_field(form.image_url) }}
      {{ form_field(form.contestant_type) }}
      {{ form_field(form.tournament_mode) }}
      {{ form_field(form.start_time) }}
      {{ form_field(form.ruleset) }}
    </div>

    <div class="box">
      <h3>{{ _('Player/team constraints') }}</h3>
      <div id="solo-constraints" style="display: none;">
        {{ form_field(form.min_players, min=0, style='width: 5rem;') }}
        {{ form_field(form.max_players, min=0, style='width: 5rem;') }}
      </div>
      <div id="team-constraints" style="display: none;">
        {{ form_field(form.min_teams, min=0, style='width: 5rem;') }}
        {{ form_field(form.max_teams, min=0, style='width: 5rem;') }}
        {{ form_field(form.min_players_in_team, min=0, style='width: 5rem;') }}
        {{ form_field(form.max_players_in_team, min=0, style='width: 5rem;') }}
      </div>
    </div>

    {{ form_buttons(_('Save')) }}
  </form>

{%- endblock %}

{% block scripts %}
{% include 'admin/lan_tournament/_constraint_toggle.html' %}
{%- endblock %}
